<h1>My Bookings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Hat</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.hat.type, hat_path(booking.hat) %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td>
          <% if booking.end_date < Time.now %>
            <%= link_to "Review hat", new_booking_review_path(booking_id: booking.id) %>
          <% elsif booking.status %>
            <%= "Booking accepted" %>
          <% else %>
            <%= "Booking pending" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
