<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-lg-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_hats.png", alt: "Only Hats"%>
    <% end %>
    </a>


    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
           <li class="nav-item">
            <%= link_to "Explore hats", hats_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Vintage", hats_path(type: "vintage"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Party", hats_path(type: "party"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Formal", hats_path(type: "formal"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to users_show_path do %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar", id: "navbarDropdown" %>
              <% else %>
                <%= link_to "Profile", users_show_path, class: "nav-link" %>
              <% end %>
            <% end %>
          </li>


          <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
