<head>
  <link rel="stylesheet" href="style.css">
</head>

<div class="banner">
  <div class="container">
    <h1>OnlyHats brings you the head...gear of your dreams</h1>
    <p>Your hat rental is just one stroke of the mouse away</p>
  </div>
</div>

    <div class="d-flex justify-content-between">
      <% @hats.each do |hat| %>
        <%= link_to hat_path(hat) do %>
          <div class="card-product">
            <img src= <%= cl_image_path hat.photo.key %> />
            <div>
              <h2><%= hat.location %></h2>
              <p><%= hat.description %></p>
              <p><%= hat.size %></p>
              <p>£<%=hat.day_rate%></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>





    <%# <button>Browse our body of work</button> %>
