<div class="container mt-3">
    <div class="row">
      <div class="col-6 my-2 mx-auto">
        <%= form_with url: hats_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "True hat love starts here" %>
        <%= submit_tag "Search", class: "btn btn-primary ms-2" %>
      <% end %>
    </div>
  </div>
</div>

<div class="card-container d-flex justify content between">
      <% @hats.each do |hat| %>
        <% reviews = hat.bookings.map(&:review).compact %>
        <% ratings = reviews.pluck(:rating) %>
        <% total_ratings = ratings.sum %>
        <% review_count = reviews.count %>
        <% average_rating = total_ratings.to_f / review_count %>
          <div class="card-product">
            <%= link_to hat_path(hat) do %>
            <img src= <%= cl_image_path hat.photo.key %> />
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="product-name"><%= hat.name %></p>
                <p class="product-price"><%= number_to_currency(hat.day_rate, unit: "£") %></p>
              </div>
            <div class="d-flex justify-content-between">
              <p class="product-location"><%= hat.location%></p>
              <p class="product-rating"><%= average_rating %><i class="fa-solid fa-star"></i></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
