<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our hats (<%= @hats.count %>)</h1>
    </div>
  </div>

  <div class="row">
    <% @hats.each do |hat| %>
      <% reviews = hat.bookings.map(&:review).compact %>
      <% ratings = reviews.pluck(:rating) %>
      <% total_ratings = ratings.sum %>
      <% review_count = reviews.count %>
      <% average_rating = total_ratings.to_f / review_count %>
      <div class="col-md-4">
        <div class="hat-card">
          <%= link_to hat_path(hat) do %>
            <div class="hat-card-image rounded-4" style="background-image: url('<%= cl_image_path hat.photo.key, crop: :fill %>')"> <p class="hat-card-type"><%= hat.type %></p></div>
            <div class="hat-card-content">
              <div class="hat-card-title">
                <div class="flex">
                  <div class="flex align">
                    <p class="lead"><%= hat.name %></p>
                  </div>
                  <div class="flex align">
                    <i class="fa-solid fa-star"></i> <%= average_rating %>
                  </div>
                </div>
              </div>
            <%= hat.size %>cm · <%= hat.color %>
          </div>
          <div class="hat-card-actions">
            <div class="flex">
              <div class="flex align">
                <i class="fa-sharp fa-solid fa-location-dot me-1"></i> <%= hat.location %>
              </div>
              <div class="flex align">
                <%= number_to_currency(hat.day_rate, unit: "£") %> / day
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
