<div class="container mt-3">
  <div class="row">
    <div class="col-sm-8">
      <% ratings = @reviews.pluck(:rating) %>
      <% total_ratings = ratings.sum %>
      <% review_count = @reviews.count %>
      <% average_rating = total_ratings.to_f / review_count %>
      <h2><%= @hat.name %></h2>
      <p class ="text-muted"><i class="fa-sharp fa-solid fa-location-dot me-1"></i> <%= @hat.location %></p>
      <div class="hat-show-image" style="background-image: url('<%= cl_image_path @hat.photo.key, crop: :fill %>')"> <h4 class="hat-show-type"><%= @hat.type %></h4></div>
          <div class="hat-card-content">
            <div class="hat-card-title">
            </div>
            <p class ="text-muted"><%= @hat.size %>cm · <%= @hat.color %></p>
            <p><%= @hat.description %></p>
          </div>
    </div>
    <div class="col-sm-4">
      <p class ="lead"><%= number_to_currency(@hat.day_rate, unit: "£") %> / day</p>
      <%= render 'bookings/form' %>
      <p class="lead"><i class="fa-solid fa-star"></i> <%= average_rating %> · (<%= review_count %> reviews)</p>
      <% @reviews.each do |review| %>
        <div>
          <% rating = review.rating %>
          <% (1..rating).each do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (rating...5).each do %>
            <i class="far fa-star"></i>
          <% end %>
          <p><%= review.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
